@model TuyetDang.MyVetTracer.ViewModels.MedicineFormModel

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Edit Medicine";
}

<h2>Edit Medicine</h2>

@using (Html.BeginForm("Edit", "Medicine", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.MedName)
        @Html.TextBoxFor(model => model.MedName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MedName)
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Amount)
        @Html.TextBoxFor(model => model.Amount, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Amount)
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Notice)
        @Html.TextBoxFor(model => model.Notice, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Notice)
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Dose)
        @Html.TextBoxFor(model => model.Dose, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Dose)
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Total)
        @Html.TextBoxFor(model => model.Total, new { @class = "form-control", type = "number", step = "0.01" })
        @Html.ValidationMessageFor(model => model.Total)
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.IdPet, "Pet")
        @Html.DropDownListFor(model => model.IdPet, new SelectList(ViewBag.Pets, "IdPet", "PetName"), "-- Select Pet --", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IdPet)
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.IdVeterinarian, "Veterinarian")
        @Html.DropDownListFor(model => model.IdVeterinarian, new SelectList(ViewBag.Vets, "IdVetUser", "FullName"), "-- Select Veterinarian --", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IdVeterinarian)
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a asp-action="MedicineIndex" class="btn btn-secondary">Cancel</a>
}
