@model IEnumerable<TuyetDang.MyVetTracer.Entity.Veterinarian>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Veterinarians</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdVetUser</th>
                <th>UserName</th>
                <th>FullName</th>
                <th>Email</th>
                <th>PhoneNum</th>
                <th>Img</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vet in Model)
            {
                <tr>
                    <td>@vet.IdVetUser</td>
                    <td>@vet.UserName</td>
                    <td>@vet.FullName</td>
                    <td>@vet.Email</td>
                    <td>@vet.PhoneNum</td>
                    <td><img src="@vet.Img" alt="Vet Image" width="100" /></td>
                </tr>
            }
        </tbody>
    </table>
</div>
