@model TuyetDang.MyVetTracer.ViewModels.VeterinarianFormModel

@{
    ViewData["Title"] = "Create Veterinarian";
}

<h2>Create Veterinarian</h2>

@using (Html.BeginForm("Create", "Veterinarian", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.UserName)
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.PhoneNum)
        @Html.TextBoxFor(model => model.PhoneNum, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PhoneNum)
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.FullName)
        @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FullName)
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Dob)
        @Html.TextBoxFor(model => model.Dob, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(model => model.Dob)
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Gender)
        @Html.TextBoxFor(model => model.Gender, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Gender)
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.NameOfConsultingRoom)
        @Html.TextBoxFor(model => model.NameOfConsultingRoom, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NameOfConsultingRoom)
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.ClinicAddress)
        @Html.TextBoxFor(model => model.ClinicAddress, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ClinicAddress)
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Qualification)
        @Html.TextBoxFor(model => model.Qualification, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Qualification)
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Experience)
        @Html.TextAreaFor(model => model.Experience, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Experience)
    </div>

    <div class="form-group mb-3">
        @Html.Label("ImgFile", "Upload Image", new { @class = "form-label" })
        <input type="file" name="ImgFile" class="form-control" accept="image/*" />
        @Html.ValidationMessage("ImgFile", "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Authentication)
        @Html.TextBoxFor(model => model.Authentication, new { @class = "form-control", type = "number" })
        @Html.ValidationMessageFor(model => model.Authentication)
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}
